<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>

    <style>

        body{
            font-family: Arial;
            margin:0;
            background:#f5f6fa;
        }

        .navbar{
            background:#222;
            color:white;
            padding:15px;
        }

        .navbar a{
            color:white;
            margin-right:20px;
            text-decoration:none;
        }

        .container{
            padding:30px;
        }

    </style>

</head>

<body>

<div class="navbar">

    <a href="/admin_cogater/">Dashboard</a>

</div>

<div class="container">

{% block content %}

{% endblock %}

</div>

</body>
</html>