{% extends "base_web.html" %}

{% block title %}
<title>Welcome</title>
{% endblock %}

{% block content %}

<style>

</style>

<!-- 🔹 เนื้อหาหลัก -->
<div id="main-content">
    <h1 class="text-center" style="font-family: 'IBM Plex Sans Thai', sans-serif;">WebSupport</h1>
</div>

<div>

    
    <div class="menu">
       <a href="{% url 'info_comp' company.company_id.username_com %}">
            <button>Report</button>
        </a>
        
        {{company}}

    </div>

    <h2>Product List</h2>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>

    {% comment %} {% for product in products %}

    <tr>

        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.description }}</td>

    </tr>

    {% endfor %} {% endcomment %}



    <tr>

        <td>{{ company }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.description }}</td>

    </tr>

   
</table>
    


</div>



{% endblock %}