{% extends "base_web.html" %} {% block title %}
<title>Welcome</title>
{% endblock %} {% block content %}

<h1 style="text-align: center">WebSupport</h1>

<div>

<a href="{% url 'info_comp' company.company_id.username_com %}">
<button>Report</button>
</a>

<h2>Company: {{ company.name }}</h2>
{% comment %} 
<table border="1" cellpadding="10">

<thead>
<tr>
<th>Product</th>
<th>Size</th>
<th>Price</th>
<th>Image</th>
<th>Edit</th>
<th>Documents</th>
</tr>
</thead>

<tbody>

{% for report in reports %}
{% for product in report.products.all %}
{% for size in product.sizes.all %}

<tr>

<td>{{ product.detail }}</td>

<td>{{ size.size }}</td>

<td>{{ size.price }}</td>

<td>
{% if product.image %}
<img src="{{ product.image.url }}" width="70">
{% endif %}
</td>

<td>
<a href="{% url 'edit_product' product.id %}">
<button>✏️ Edit</button>
</a>
</td>

<td>

{% for doc in report.documents.all %}

<a href="{{ doc.file.url }}" target="_blank">
📄 Document {{ forloop.counter }}
</a>
<br>

{% empty %}

No document

{% endfor %}

</td>

</tr>

{% endfor %}
{% endfor %}
{% endfor %}

</tbody>

</table> {% endcomment %}

<table border="1" cellpadding="10">

<thead>
<tr>
<th>ID</th>
<th>Collection Name</th>
<th>Start Date</th>
<th>End Date</th>
<th>Documents</th>
<th>Status</th>
</tr>
</thead>

<tbody>

{% for report in reports %}

<tr>
<td>{{ report.id }}</td>

<td>{{ report.name }}</td>

<td>{{ report.start_date }}</td>

<td>{{ report.end_date }}</td>

<td>

{% for doc in report.documents.all %}

<a href="{{ doc.file.url }}" target="_blank">
📄 Document {{ forloop.counter }}
</a>
<br>

{% empty %}

No document

{% endfor %}

</td>

</tr>

{% endfor %}

</tbody>

</table>


</div>

  <script>
    function openDocs(reportId) {
      fetch(`/WebSupport/get_documents/${reportId}/`)
        .then((res) => res.json())
        .then((data) => {
          let html = "";

          data.forEach((doc) => {
            html += `
<div>
<a href="${doc.url}" target="_blank">${doc.name}</a>
</div>
`;
          });

          document.getElementById("docList").innerHTML = html;
          document.getElementById("docModal").style.display = "block";
        });
    }

    function closeDocs() {
      document.getElementById("docModal").style.display = "none";
    }

    function closeDocs() {
      document.getElementById("docModal").style.display = "none";
    }
  </script>

  {% endblock %}
</div>
