{% extends "base_web.html" %}

{% block title %}
<title>Welcome</title>
{% endblock %}

{% block content %}

<style>

</style>

<!-- 🔹 เนื้อหาหลัก -->
<div id="main-content">
    <h1 class="text-center" style="font-family: 'IBM Plex Sans Thai', sans-serif;">WebSupport</h1>
</div>

<div>

    
    <div class="menu">
       <a href="{% url 'info_comp' company.company_id.username_com %}">
            <button>Report</button>
        </a>
        
        {{company}}

    </div>

    <h2>Product List</h2>

{% comment %} <table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr> {% endcomment %}

 {% for report in reports %}
  <h3>Products in Report {{ report.id }}</h3>

  <table border="1" cellpadding="8">
    <tr>
      <th>Product Detail</th>
      <th>Size</th>
      <th>Price</th>
    </tr>

    {% for product in report.product_set.all %}
      {% for size in product.productsize_set.all %}
      <tr>
        <td>{{ product.detail }}</td>
        <td>{{ size.size }}</td>
        <td>{{ size.price }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endfor %}


    {% comment %} <tr>

        <td>{{ company }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.description }}</td>

    </tr> {% endcomment %}

   
</table>
    


</div>



{% endblock %}