{% block title %}
<title>Signup</title>
{% endblock %}

{% block content %}
<h2>สมัครสมาชิก ร้านค้า</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div
        style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: gainsboro;">
        <div
            style="background-color: white; height: 360px; width: 300px; display: flex; justify-content: center; align-items: center; border-radius: 10px; position: relative;">
            
            <div  style="display: grid; gap: 20px;">

                <label style="text-align: center; font-weight: bold;">USER SIGNUP</label>

                <div>
                    <label>Username</label><br>
                    <input type="text" name="username_com" placeholder="Username" required>
                </div>

                <div>
                    <label>Email</label><br>
                    <input type="email" name="email_com" placeholder="Email" required>
                </div>

                <div>
                    <label>Profile</label><br>
                    <input type="file" name="image_com">
                </div>

                <div>
                    <label>Password</label><br>
                    <input type="password" name="password_com" placeholder="Password" required>
                </div>

                <button type="submit">Submit</button>
            </div>

        </div>

    </div>

</form>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}