<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;   /* ทำให้เต็มจอ */
    gap: 20px;
">

        <a href="{% url 'login' %}" style="
           width: 120px;
           height: 120px;
           background-color: rgb(237, 237, 237);
           text-decoration: none;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 10px;
           color: black;
           font-weight: bold;
           font-family: 'IBM Plex Sans Thai', sans-serif;
       ">
            USER
        </a>

         <a href="{% url 'login_com' %}" style="
           width: 120px;
           height: 120px;
           background-color: rgb(237, 237, 237);
           text-decoration: none;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 10px;
           color: black;
           font-weight: bold;
           font-family: 'IBM Plex Sans Thai', sans-serif;
       ">
            Company
        </a>

    </div>


</body>

</html>